In [1]:
import pytest
import sys
import os 
import pandas as pd
import importlib
%matplotlib inline
sys.path.append('/workspace')
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None)

In [2]:
from modules.Pipelines.NetworkDataPipe import NetworkDataPipe

In [ ]:
api_key = 'KKzV6V2DTY87v3m1dGZu'

In [ ]:
df = NetworkDataPipe(api_key=api_key, assets=['btc', 'eth'], metrics=['TxCnt', 'CapRealUSD'], start='2019-11-01').run()

In [4]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [6]:
df = pd.read_csv('/workspace/data/superrare_test.csv')

In [7]:
df.head()

,date,block_number,block_hash,transaction_hash,from,to,value,gas,input,address,data,topics,log_topics
0,2018-04-09 00:00:00,5411020,NaN,NaN,NaN,NaN,0,67480,NaN,NaN,NaN,"{""\\x55eed0aed3ec6e015b9ad5e984675fe36c0ce3aeb...",NaN
1,2018-04-09 00:00:00,5411020,NaN,NaN,NaN,NaN,0,67480,NaN,NaN,NaN,"{""\\x55eed0aed3ec6e015b9ad5e984675fe36c0ce3aeb...",NaN
2,2018-04-08 00:00:00,5404807,NaN,NaN,NaN,NaN,0,337828,NaN,NaN,NaN,"{""\\xddf252ad1be2c89b69c2b068fc378daa952ba7f16...",NaN
3,2018-04-08 00:00:00,5404807,NaN,NaN,NaN,NaN,0,337828,NaN,NaN,NaN,"{""\\xddf252ad1be2c89b69c2b068fc378daa952ba7f16...",NaN
4,2018-04-08 00:00:00,5404807,NaN,NaN,NaN,NaN,0,337828,NaN,NaN,NaN,"{""\\xddf252ad1be2c89b69c2b068fc378daa952ba7f16...",NaN